.header {
    background-color: #a8bece;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    .logo {
        display: flex;
        align-items: center;

        img {
            width: 150px;
            height: 50px;
            border-radius: 10px;
            margin-right: 10px;
        }
    }

    .navbar {
        display: flex;
        align-items: center;

        h4 {
            margin: 20px;
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            font-style: italic;
            color: #3d596d;


            &:hover {
                color: #78dcfa;
                font-style: normal;
                background-color: #668eaa;

            }
        }

    }

    .hamburger {
        display: none;
        position: absolute;
        width: 40px;
        height: 40px;
        top: 20px;
        right: 20px;

        .hamburger-icon {
            width: 30px;
            height: 30px;
        }
    }
}

@media screen and (max-width: 800px) {
    .header {
        .navbar {

            flex-direction: column;
            position: fixed;
            justify-content: space-evenly;
            z-index: 10;
            background-color: #668eaa;
            bottom: 0;
            right: 0;
            height: calc(100vh - 80px);
        }

        .block {
            display: none;
        }

        .hamburger {
            display: block;
            position: absolute;
            z-index: 111;
        }
    }
}