.header {
    background-color: #a8bece;
    height: 90px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 15px;


    .logo {
        display: flex;
        align-items: center;

        img {
            width: 150px;
            height: 50px;
            border-radius: 10px;
            margin-right: 10px;
        }
    }

    .navbar {
        display: flex;
        align-items: center;

        h4,
        button {
            margin: 20px;
            padding: 10px 20px;
            font-size: 20px;
            border-radius: 10px;
            font-style: italic;
            color: #3d596d;

            &:hover {
                color: #78dcfa;
                font-style: normal;
                background-color: #668eaa;
            }
        }
    }


}

@media screen and (max-width: 950px) {
    .header {
        padding: 5px;

        .navbar {
            h4 {
                margin: 10px;
            }
        }

    }
}

@media screen and (max-width: 650px) {
    .header {
        padding: 5px;

        .navbar {
            h4 {
                margin: 0;
            }
        }

    }
}