* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
  outline: none;
  text-decoration: none;
  list-style: none;
}

html,
body,
#root {
  width: 100%;
  max-height: 100vh;
  background-color: #87a6bc;
}

button {
  cursor: pointer;
}